body{
  font-family: 'Lato', sans-serif;
}

#suggestion {
  position: absolute;
  top: 30px;
  background-color: white;
  z-index: 10;
  max-height: 0;
  width: 100%;
  &.active{
    border: black solid 1px;
    overflow: auto;
  }
  transition: max-height 350ms;
}

button, button:focus{
  outline: none;
  border: none;
  outline-style: none;
}