{% extends 'base.html' %}

{% block title %}
    <title>Sign Up</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center align-content-center" style="height: 100vh">
            <div class="p-3" style="border: #3d3d3d solid 2px; border-radius: 5px; width: auto;">
                <h3 class="text-center">Sign Up</h3>
                {% if request.GET.next %}
                    <form action="/story9/signup/?next={{ requset.GET.next }}" method="post">
                     <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% else %}
                    <form action="/story9/signup/" method="post">
                {% endif %}
                    {% csrf_token %}
                    {% for fields in form %}
                        <div class="form-group">
                            {% for error in fields.errors %}
                                <p style="font-size: 0.8rem">*{{ error }}</p>
                            {% endfor %}
                            <h5 class="text-center">{{ fields.label }}</h5>
                            {{ fields }}
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" id="create-submit-btn" class="btn btn-secondary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}