{% extends 'base.html' %}

{% block title %}
    <title>Sign In</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center align-content-center" style="height: 100vh">
            <div class="p-3 pb-5" style="border: #3d3d3d solid 2px; border-radius: 5px;">
                <h3 class="text-center mb-3">Login</h3>
                <form action="/story9/login/" method="post">
                    {% csrf_token %}
                    {% for error_message in error %}
                        <p style="font-size: 0.8rem">*{{ error_message }}</p>
                    {% endfor %}
                    {% for fields in form %}
                        <div class="form-group">
                            <h5 class="text-center">{{ fields.label }}</h5>
                            {{ fields }}
                        </div>
                    {% endfor %}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <div class="row justify-content-center">
                        <p class="col-7 m-0 align-self-center" >
                            {% if request.GET.next %}
                                <a href="/story9/signup/?next={{ request.GET.next }}" id="create-btn" style="color: black;">Create an Account</a>
                            {% else %}
                                <a href="/story9/signup/" id="create-btn" style="color: black;">Create an Account</a>
                            {% endif %}
                        </p>
                        <button type="submit" id="login-btn" class="btn-secondary btn col-4">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

