{% load static from staticfiles %}
<!doctype html>
<html lang="en" data>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story7.css' %}">
    <title>Story 7</title>
    <script
  src="{% static 'jQuery.js' %}"></script>
    <script src="{% static 'jquery-ui.min.js' %}"></script>
    <script>
        $(() => {
            {#$("#accordion").accordion({#}
            {#    header: "h1",#}
            {#    collapsible: true,#}
            {#    active:0,#}
            {#    classes:{#}
            {#        'ui-accordion-header':'accordion-btn',#}
            {#        'ui-accordion-header-active':"accordion-btn-active",#}
            {#        'ui-accordion-icons':'acc-icon',#}
            {#        'ui-accordion-content-active':'acc-content-active',#}
            {#    },#}
            {#    icons:false,#}
            {#    heightStyle:"content"#}
             // });
            $(".accord-content").hide();
            $(".accord-btn").click(function() {
                if($(this).next().attr('data-accordion') === "active"){
                    $(".accord-content").slideUp(350);
                    $(".accord-content").attr('data-accordion',null);
                    $(".accord-btn").attr('data-accordion',null);
                }else{
                    $(".accord-content").slideUp(350);
                    $(".accord-content").attr('data-accordion',null);
                    $(".accord-btn").attr('data-accordion',null);
                    $(this).next().slideDown(350);
                    $(this).next().attr('data-accordion','active');
                    $(this).attr('data-accordion','active')
                }
            });
            $("#toggle-theme").click((e) => {
                if(e.target.checked){
                    document.documentElement.setAttribute('data-theme','dark');
                }else{
                    document.documentElement.setAttribute('data-theme','light');
                }
            });
            $("#switch").hover((e) => {
                document.documentElement.setAttribute('data-theme','dark');
            },(e) => {
                if($("#toggle-theme:checked").length == 0){
                    document.documentElement.setAttribute('data-theme','light');
                }
            })
        })
    </script>
</head>s
<body>
    <div class="container">
        <div class="row justify-content-center align-content-center" style="height: 100vh">
            <div class="col-12">
                <h1 class="text-center">Hello This is Me!!</h1>
                <div class="float-right text-center">
                    <p style="margin-bottom: 5px;">Change Theme</p>
                    <label class="switch" id="switch">
                        <input type="checkbox" id="toggle-theme">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="col-8">
                <div id="accordion">
                    <h3 class="accord-btn py-1 px-2" >Activities</h3>
                    <div class="accord-content">
                        <h5>1. Staff At Media Buerau BEM Fasilkom UI 2019</h5>
                        <h5>2. Programming Fundamental Teaching Assistant</h5>
                    </div>
                    <h3 class="accord-btn py-1 px-2" >Organisation</h3>
                    <div class="accord-content">
                        <h5>1. BEM Fasilkom UI 2019</h5>
                    </div>
                    <h3 class="accord-btn py-1 px-2" >Achievement</h3>
                    <div class="accord-content">
                        <h5>1. Best Participant of Software Engineering Academy COMPFEST XI</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>