<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
</head>
<body>
    <h2 style="text-align: center">Loaded in {{ server }} port {{ port }}</h2>
    <h1 style="text-align: center">Halo, Apa Kabar?</h1>
    <form action="{% url 'landing_page' %}" method="post">
        {% csrf_token %}
        {{ forms }}
        <button id="btn-submit" type="submit">Post</button>
    </form>
    <div id="status-list">
        {% for i in status %}
            <div class="status">
                <p>{{ i.status }}</p>
                <h6>{{ i.date_time }}</h6>
            </div>
        {% endfor %}
    </div>
</body>
</html>