html {
  --bg: #fcfcfc;
  --font-color: #000000;
  --bg_accordion: #cbcbcb;
  --acc_border: #000000;
  --bg_acc_content: #f1f1f1;
  --bg_acc_hover: #535353;
  --font_hover:#ffffff;
}
html[data-theme=dark] {
  --bg: #121212;
  --font-color: #fcfcfc;
  --bg_accordion: #3d3d3d;
  --acc_border: #fcfcfc;
  --bg_acc_content: #505050;
  --bg_acc_hover: #d6d6d6;
  --font_hover: #000000;
}

body {
  transition: all 750ms;
  background-color: var(--bg);
  color: var(--font-color);
}

.accordion-btn {
  background-color: var(--bg_accordion);
  color: var(--font-color);
  border-color: var(--acc_border);
  transition: all 0.4s ease-out;
}
.accordion-btn:focus {
  outline: none;
}
.accordion-btn:hover {
  transition: all 0.4s ease-out;
  background-color: var(--bg_acc_hover);
  color: var(--font_hover);
}
.accordion-btn:hover > span {
  color: var(--font_hover);
}

.accordion-btn-active {
  background-color: var(--bg_acc_hover);
  color: var(--font_hover);
}

.acc-content-active {
  color: var(--font-color);
  border-color: var(--acc_border);
  background-color: var(--bg_acc_content);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.accord-content {
  overflow: hidden;
  max-width: 100%;
  padding: 10px;
  transition: margin-bottom 100ms;
  background-color: var(--bg_acc_content);
  border: 0.5pt solid var(--acc_border);
  margin-bottom: 10px;
  border-top: none;
}

.accord-btn {
  cursor: pointer;
  max-width: 100%;
  background-color: var(--bg_accordion);
  border: 0.5pt solid var(--acc_border);
}
.accord-btn[data-accordion=active] {
  margin-bottom: 0;
}

input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/*# sourceMappingURL=story7.css.map */
