{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story8/story8.css' %}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        const ChangeSearch = (obj) => { //Handle the input search field
            if(obj.value === ""){ //Check the input
                //Dont show the suggestion bar
                suggestion.style.maxHeight = 0;
                suggestion.innerHTML = "";
                suggestion.classList.remove("active");
                suggestion.classList.remove("p-1");
            }else{
                // Show the suggestion bar
                let suggestion = document.getElementById("suggestion");
                suggestion.style.maxHeight = "300px";
                suggestion.classList.add("active");
                suggestion.classList.add("p-1");
                suggestion.innerHTML = `
                    <p>${(obj.value === "" ? "" : "Searching "+obj.value)}</p>
                `;

                //AJAX Request using axios
                $.ajax("/story8/"+obj.value)
                    .done((data) => { //Function when success
                        let dataObj = data.items;
                        if(obj.value !== ""){
                            console.log(dataObj);
                            suggestion.innerHTML = dataObj.map((objData) => {
                                return `
                            <a target="_blank" href="${objData.volumeInfo.infoLink}" style="color:black;">
                                <div class="row m-0 mb-3 justify-items-center" style="max-width: 100%">
                                    ${(objData.volumeInfo.imageLinks !== undefined ?
                                        `<img src="${(objData.volumeInfo.imageLinks.smallThumbnail !== undefined ? objData.volumeInfo.imageLinks.smallThumbnail : objData.volumeInfo.imageLinks.thumbnail )}" alt="Thumbnail" class="img-fluid col-5">` :
                                        `<p class="col-5 text-center align-self-center">No Thumbnail</p>`)}
                                    <div class="col">
                                        <h6 style="font-weight: bold">${objData.volumeInfo.title}</h6>
                                        <p style="font-size: 0.8rem">${(objData.volumeInfo.subtitle !== undefined ? objData.volumeInfo.subtitle : "" )}</p>
                                    </div>
                                </div>
                            </a>
                            `
                            }).join("")
                        }
                    }).fail(() => { //Function when failed
                        if(obj.value !== ""){
                            let suggestion = document.getElementById("suggestion");
                            suggestion.innerHTML = `
                                <p class="text-center">Something Error</p>
                            `
                        }
                    });

                {#axios.get("/story8/"+obj.value)#}
                {#    .then((data) => { //Function when success#}
                {#        let dataObj = data.data.items;#}
                {#        if(obj.value !== ""){#}
                {#            suggestion.innerHTML = dataObj.map((objData) => {#}
                {#                return `#}
                {#            <a target="_blank" href="${objData.volumeInfo.infoLink}" style="color:black;">#}
                {#                <div class="row m-0 mb-3 justify-items-center" style="max-width: 100%">#}
                {#                    <img src="${objData.volumeInfo.imageLinks.smallThumbnail}" class="img-fluid col-5" alt="">#}
                {#                    <div class="col">#}
                {#                        <h6 style="font-weight: bold">${objData.volumeInfo.title}</h6>#}
                {#                        <p style="font-size: 0.8rem">${(objData.volumeInfo.subtitle !== undefined ? objData.volumeInfo.subtitle : "" )}</p>#}
                {#                    </div>#}
                {#                </div>#}
                {#            </a>#}
                {#            `#}
                {#            }).join("")#}
                {#        }#}
                {#    })#}
                {#    .catch(() => { //Function when failed#}
                {#        if(obj.value !== ""){#}
                {#            suggestion.innerHTML = `#}
                {#                <p class="text-center">Something Error</p>#}
                {#            `#}
                {#        }#}
                {#    });#}
            }
        };

        //Start Function When Page Opened
        $.ajax("/story8/all")
            .done((obj) => {
                const data = obj.items;
                let books = document.getElementById("books");
                books.innerHTML = data.map((objData) => {
                    return `<tr id="${objData.id}">
                            ${(objData.volumeInfo.imageLinks !== undefined ?
                                        `<td><img src="${objData.volumeInfo.imageLinks.thumbnail}" alt="Thumbnail" class="img-fluid" style="max-height: 100%"></td>` :
                                        `<td><p class="col-4 text-center align-self-center">No Thumbnail</p></td>`)}
                                <td><h5 style="font-weight: bold"><a target="_blank" href="${objData.volumeInfo.infoLink}" style="color:black;">${objData.volumeInfo.title}</a></h5></td>
                                <td><p>${(objData.volumeInfo.description !== undefined ? objData.volumeInfo.description: "None")}</p></td>
                                <td><ul>
                                ${(objData.volumeInfo.authors === undefined ? "None" : objData.volumeInfo.authors.map((author) => {
                                    return `<li style="font-size: 0.9rem">${author}</li>`
                                 }
                                ).join(" "))}
                                </ul></td>
                    </tr>`
                }).join('');
            })
            .fail(() => {
                let books = document.getElementById("books");
                books.innerHTML = `
                    <tr>
                        <th class="text-center" colspan="4">
                            <h3 class="text-center">Something Error</h3>
                        </th>
                    </tr>
                    `
            });
        {#axios.get("/story8/all")#}
        {#    .then((obj) => {#}
        {#        console.log(obj.data.items);#}
        {#        const data = obj.data.items;#}
        {#        let books = document.getElementById("books");#}
        {#        books.innerHTML = data.map((obj) => {#}
        {#            return `<div id="${obj.id}" class="col-4 m-2">#}
        {#                <div class="row">#}
        {#                    <img src="${obj.volumeInfo.imageLinks.thumbnail}" alt="" class="col-4 img-fluid" style="max-height: 100%">#}
        {#                    <div class="col">#}
        {#                        <h5 style="font-weight: bold"><a target="_blank" href="${obj.volumeInfo.infoLink}" style="color:black;">${obj.volumeInfo.title}</a></h5>#}
        {#                        <h5 style="font-size: 1rem">${(obj.volumeInfo.subtitle !== undefined ? obj.volumeInfo.subtitle : "")}</h5>#}
        {#                        <h6 style="font-size: 0.9rem">Authors : </h6>#}
        {#                        <ul>#}
        {#                        ${obj.volumeInfo.authors.map((author) => {#}
        {#                            return `<li style="font-size: 0.9rem">${author}</li>`#}
        {#                             }#}
        {#                        ).join(" ")}#}
        {#                        </ul>#}
        {#                        <h6 style="font-size: 0.9rem">Description : </h6>#}
        {#                        <p>${(obj.volumeInfo.description !== undefined ? obj.volumeInfo.description.slice(0,80) + "...." : "None")}</p>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>`#}
        {#        }).join('');#}
        {#    })#}
        {#    .catch(() => {#}
        {#        let books = document.getElementById("books");#}
        {#        books.innerHTML = `#}
        {#            <p class="text-center">Something Error</p>#}
        {#            `#}
        {#    });#}

        //Function when button search clicked
        const changePage = () => {
            let input = document.getElementById("search");
            if(input.value !== ""){
                $.ajax("/story8/"+input.value)
                .done((obj) => {
                    const data = obj.items;
                    let books = document.getElementById("books");
                    books.innerHTML = data.map((objData) => {
                        return `<tr id="${objData.id}">
                                ${(objData.volumeInfo.imageLinks !== undefined ?
                                            `<td><img src="${objData.volumeInfo.imageLinks.thumbnail}" alt="Thumbnail" class="img-fluid" style="max-height: 100%"></td>` :
                                            `<td><p class="col-4 text-center align-self-center">No Thumbnail</p></td>`)}
                                    <td><h5 style="font-weight: bold"><a target="_blank" href="${objData.volumeInfo.infoLink}" style="color:black;">${objData.volumeInfo.title}</a></h5></td>
                                    <td><p>${(objData.volumeInfo.description !== undefined ? objData.volumeInfo.description: "None")}</p></td>
                                    <td><ul>
                                    ${(objData.volumeInfo.authors === undefined ? "None" : objData.volumeInfo.authors.map((author) => {
                                        return `<li style="font-size: 0.9rem">${author}</li>`
                                     }
                                    ).join(" "))}
                                    </ul></td>
                        </tr>`
                    }).join('');
                })
                .fail(() => {
                    let books = document.getElementById("books");
                    books.innerHTML = `
                        <tr>
                            <th class="text-center" colspan="4">
                                <h3 class="text-center">Something Error</h3>
                            </th>
                        </tr>
                        `
                });

                {#axios.get("/story8/"+input.value)#}
                {#    .then((obj) => {#}
                {#        const data = obj.data.items;#}
                {#        let books = document.getElementById("books");#}
                {#        books.innerHTML = data.map((obj) => {#}
                {#            return `<div id="${obj.id}" class="col-4 m-2">#}
                {#        <div class="row">#}
                {#            <img src="${obj.volumeInfo.imageLinks.thumbnail}" alt="" class="col-4 img-fluid" style="max-height: 100%">#}
                {#            <div class="col">#}
                {#                <h5 style="font-weight: bold"><a target="_blank" href="${obj.volumeInfo.infoLink}" style="color:black;">${obj.volumeInfo.title}</a></h5>#}
                {#                <h5 style="font-size: 1rem">${(obj.volumeInfo.subtitle !== undefined ? obj.volumeInfo.subtitle : "")}</h5>#}
                {#                <h6 style="font-size: 0.9rem">Authors : </h6>#}
                {#                <ul>#}
                {#                ${(obj.volumeInfo.authors === undefined ? "None" : obj.volumeInfo.authors.map((author) => {#}
                {#                    return `<li style="font-size: 0.9rem">${author}</li>`#}
                {#                }#}
                {#            ).join(" "))}#}
                {#                </ul>#}
                {#                <h6 style="font-size: 0.9rem">Description : </h6>#}
                {#                <p>${(obj.volumeInfo.description !== undefined ? obj.volumeInfo.description.slice(0,80) + "...." : "None")}</p>#}
                {#            </div>#}
                {#        </div>#}
                {#    </div>`#}
                {#        }).join('');#}
                {#    })#}
                {#    .catch(() => {#}
                {#        let books = document.getElementById("books");#}
                {#        books.innerHTML = `#}
                {#            <p class="text-center">Something Error</p>#}
                {#            `#}
                {#    });#}

                input.value = "";
                input.dispatchEvent(new Event("input"));
            }
        }
    </script>
    <title>Story8</title>
</head>
<body>
    <div class="container-fluid mt-2" >
        <div class="row justify-content-center mb-2" style="position: relative">
            <div class="col">
                <h2 style="font-weight: bold; text-align: center">Book Store</h2>
                <div style="display: flex; flex-direction: row; justify-content: center;" class="mb-2">
                    <p class="m-0 mr-1 p-0 align-self-center">Search : </p>
                    <div style="position: relative; max-width: 450px;">
                        <input id="search" type="text" style="border: black solid 0.5px; width: 350px" class="px-1" oninput="ChangeSearch(this)">
                        <div id="suggestion">
                            <!-- Code Injected -->
                        </div>
                    </div>
                    <button type="button" onclick="changePage()" class="ml-2" style="border-radius: 10px; background-color: darkgrey; border: none;">Search</button>
                </div>
            </div>
            <div class="align-self-center" style="position: absolute; right: 5%;">
                <div class="row align-content-center">
                    <h5 class="m-0 mr-3 align-self-center">Hallo, <strong>{{ name }}</strong></h5>
                    <form action="/story9/logout/" method="post">
                        {% csrf_token %}
                        <button type="submit" id="logout-btn" class="btn btn-danger">Logout</button>
                    </form>
                </div>
            </div>
        </div>
        <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Title</th>
                    <th scope="col" width="850">Description</th>
                    <th scope="col">Authors</th>
                </tr>
            </thead>
            <tbody  id="books">
                <!--  Code Injected  -->
            </tbody>
        </table>
    </div>
</body>
</html>